body {
	background:					url(../img/background/bg_body.png) repeat-x left top #F2F3F4
}

#page {
	margin:						5%;
	background:					#FFFFFF
}

#header {
	padding:					0px;
}


#logo {
	float:						left;
}

#name-and-slogan {
	float:						left;
	margin-bottom: 				5px;

}

#headerright {
	float: 					right;
	height: 				90px;
	width: 					320px;
	background:				url(../img/navibild.jpg) no-repeat center center transparent;
	
}

#navigation {
	clear:						both;
	border:						1px solid;
	margin:						5px 0px;
}

div#search {
	float: 						right;
	margin:						0.8em;
}

#main {
	clear:						both;
	margin-top:					0.5%;
}

#sidebar-first {
	float:						left;
	width:						15%;
	margin-left:				0.5%;
}

#sidebar-second {
	float:						right;
	width:						15%;
	margin-right:				0.5%;
}

#content {
	float:						left;
	width:						65%;
	margin:						0 10px 0 42px;
}

#footer {
	clear:						both;
}

.footer-column {
	width:						23.9%;
	height:						100%;
	margin:						0.4%;
	padding:					2px;
}

#footer-firstcolumn {
	float:						left;
}

#footer-secondcolumn {
	float:						left;
}

#footer-thirdcolumn {
	float:						left;
}

#footer-fourthcolumn {
	float:						right;
}

#footer-final {
	clear:						both;
	height:						80px;
	color:						#FFFFFF;
	background: 				url(../img/background/bg_footer.png) repeat-x scroll 0 0 #002447; 
	padding:					1em;
}

#footer-final a {
	text-decoration:			none;
	color:						#FFFFFF;
	font-weight:				bold;
}

#footer-final a:hover {
	text-decoration:			underline;
}

#footer-final ul {
	list-style: 				none; 
	padding:					0; 
	margin:						0;
}

#footer-final ul li {
	float:						left;
	display: 					block;
	padding:					0;
	margin:						0;
	border-left: 				#FFFFFF 1px;
}

#footer-final ul:first-child {
	border-left: 				none;
}

#footer-close {
	clear:						both;
	background: 				url(../img/background/bg_wegzeichen_ziel.png) no-repeat right bottom transparent;
	height:						36px;
	padding:					1em;
}
